@model GabeHaack.ViewModels.Chess.ChessBoardPartialViewModel
<div id="@String.Format("chessBoard{0}", Model.Id)"></div>
<script src="http://fb.me/react-0.13.3.js"></script>
<script src="@Url.Content("~/Scripts/ChessBoard.jsx")"></script>