body {
    background-color: #444444;
    color: #DDDDDD;
}

.navbar {
    background-color: #00C1C1;
    color: #DDDDDD;
}

.container {
    background-color: #222222;
}

.jumbotron {
    color: #222222;
}