body {
    background-color: #444444;
    color: #DDDDDD;
}

.navbar {
    background-color: #00C1C1;
    color: #DDDDDD;
}

.container {
    background-color: #222222;
}

.jumbotron {
    color: #222222;
}

/* Chess Board */
#chessBoard1 td {
    border: 1px solid black;
    color: black;
    height: 80px;
    text-align: center;
    width: 80px;
}

#chessBoard1 tr:nth-child(even) td:nth-child(even) {
    background-color: white;
}

#chessBoard1 tr:nth-child(even) td:nth-child(odd) {
    background-color: lightseagreen;
}

#chessBoard1 tr:nth-child(odd) td:nth-child(even) {
    background-color: lightseagreen;
}

#chessBoard1 tr:nth-child(odd) td:nth-child(odd) {
    background-color: white;
}