<div class="jumbotron">
    <h1>Gabe Haack</h1>
    <p class="lead">If I repeat it enough, it'll stick, right?</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><a href="~/Controllers/About">Who am I?</a></h2>
        <p>
            Learn more than you want to know about me!
        </p>
    </div>
    <div class="col-md-4">
        <h2><a href="~/Controllers/Work">What have I done?</a></h2>
        <p>
            Find out what projects I've worked on!
        </p>
    </div>
    <div class="col-md-4">
        <h2><a href="~/Controllers/Fun">What do I do?</a></h2>
        <p>
            Discover the fun things I've discovered!
        </p>
    </div>
</div>